* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(246, 221, 221);
}

main{
    height: 100%;
    width: 100%;
}

nav{
    height: 100px;
    width: 100%;
    background-color: #a1f022;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.part:nth-child(1){
    width: 20%;
    height: 50px;
    background-color: rgb(116, 184, 236);
}

.part:nth-child(2){
    width: 40%;
    height: 50px;
    background-color: rgb(45, 137, 236);
}

.part:nth-child(3){
    width: 20%;
    height: 50px;
    background-color: rgb(54, 36, 82);
}

.section-1{
   /* height: calc(100vh - 100px); */
   height: 100%;
   width: 100%;
   background: #000;
   display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 350px;
    width: 50%;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    gap: 20px;    
}

.box h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

.box p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px
}
.box button{
    padding: 10px 20px;
    background-color: blueviolet;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}

.section-2{
    height: 100%;
    width: 100%;
    background-color: rgb(65, 50, 14);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 60px 40px;
  
}

.card{
    height: 400px;
    width: 300px;
    background-color: rgb(187, 250, 92);
    border: 1px solid blue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    height: 100px;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

.footer-part{
    height: 60px;
    width: 30%;
    background-color: red;
}